{% extends 'fooodie/base.html' %}
{% load static %}

<head lang="en">
		<meta charset="UTF-8" />

	{% block title_block %}
		MyProfile
	{% endblock %}

<!--Just a layout, with placeholders still need actual obejcts-->
{% block body_block %}
<section class="mosh-portfolio-area section_padding_100_0 clearfix">
	<div id="fooodie-page">
		<a href="#" class="js-fooodie-nav-toggle fooodie-nav-toggle"><i></i></a>
		<aside id="fooodie-aside" role="complementary" class="js-fullheight text-center">
			{% if profile.picture %}
			<h1 id="fooodie-logo"><a href="/#"><span class="img" style="background-image: url({{ profile.picture.url}});"></span>{{ profile.user.username }}</a></h1>
			{% else %}
			<h1 id="fooodie-logo"><a href="/#"><span class="img" style="background-image: url();"></span>{{ profile.user.username }}</a></h1>
			{% endif %}
			<nav id="fooodie-main-menu" role="navigation">
		</aside> <!-- END fooodie-ASIDE -->
		<div id="fooodie-main">
			<section class="ftco-section ftco-bread">
				<div class="container">
					<div class="row no-gutters slider-text justify-content-center align-items-center">
					  <div class="col-md-8">
						<h1 class="bread">{{ profile.user.username }}'s Profile</h1>
					  </div>
					</div>
				</div>
			</section>
			<section class="ftco-section-3">
				<div class="photograhy">
					<div class="row">
					{% if profile %}
						{% if photos %}
							{% for pic in photos %}	
								{% if pic.user.id == profile.id %}
									<!-- Actual food photo -->
									<div class="col-md-4">
										<a href="{{ pic.photo.url }}" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url({{ pic.photo.url }});">
										<div class="overlay"></div>
											<div class="text ml-4 mb-4">
												<h3>{{ pic.name }}</h3>
												<span class="tag">Number of votes: {{ pic.votes }}</span>
											</div>
										</a>
									</div>
								{% endif %}	
							{% endfor %}
						{% else %}
							<strong>This user has no pictures uploaded</strong>
						{% endif %}
					{% endif %}
					
						<div class="col-md-4">
							<a href="{% static 'images/rango.jpg' %}" class="photography-entry img image-popup d-flex justify-content-start align-items-end" style="background-image: url({% static 'images/rango.jpg' %});">
								<div class="overlay"></div>
								<div class="text ml-4 mb-4">
									<h3>Photo 01</h3>
									<span class="tag">Model</span>
								</div>
							</a>
						</div>
					
					</div>
				</div>
			</section>
		</div><!-- END fooodie-MAIN -->
	</div><!-- END fooodie-PAGE -->
</section>
{% endblock %}

